# Node
node_modules/
.npm/
.pnpm-store/

# Testing
coverage/
.vitest/
.nyc_output/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build artifacts
*.tgz
dist/
build/
.vite/

# Editors
.DS_Store
.idea/
*.iml
.vscode/

# Tooling caches
.eslintcache

# Environment files
.env
.env.*
